{% extends 'base.html.twig' %}

{% block title %}Mon compte | Quai Antique{% endblock %}

{% block content %}
    <h1 class="text-white text-center">Mon compte</h1>
    <p class="text-center text-white">Bienvenue {{ app.user.firstname }} dans votre compte.</p><br>
    <p class="text-white text-center">C'est dans cet espace que vous allez pouvoir gerer toutes vos informations personnelles.</p>
    <hr>
    <br>
        <div class="row text-center">
            <div class="col-md-6">
                <div class="account-items">
                    <img src="{{ asset('assets/media/mot-de-passe.png') }}" alt="Modifier mon mot de passe"><br>
                    <a href="{{ path('account_password') }}">Modifier mot de passe</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="account-items">
                    <img src="{{ asset('assets/media/reservation.png') }}" alt="Gérer mes réservations"><br>
                    <a href="{{ path('booking_show') }}">Mes réservations</a>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-6">
                <div class="account-items">
                    <img src="{{ asset('assets/media/administrateur.png') }}" alt="Gérer mes réservations"><br>
                    <a href="/admin">Administrateur</a>
                </div>
            </div>
            {% endif %}
        </div>
    <br>
{% endblock %}
