<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Quai Antique{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
            <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('assets/css/quaiantique.css') }}"
        {% endblock %}


    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">Quai Antique</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('menus') }}">Menus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_booking') }}">Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nous Contacter</a>
                        </li>
                    </ul>
                    <div class="navbar-item-custom">
                    {% if app.user %}
                        <a href="{{ path('account') }}">Mon compte <small>({{ app.user.firstname }})</small></a> | <a href="{{ path('app_logout') }}">Deconnexion</a>
                    {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a> | <a href="{{ path('register') }}">Inscription</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">

        <link rel="stylesheet" href="{{ asset('assets/css/carousel.css') }}">

        {% if block ('carousel') is defined %}
            <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>            </div>
                <div class="carousel-inner">
                    <div class="carousel-item active c-item">
                        <img src="{{ asset('assets/media/test.jpg') }}" class="d-block w-100 c-img" alt="Slide 1">
                        <div class="carousel-caption top-0 mt-4">
                            <p class="mt-5 fs-3 text-uppercase">Bienvenue au restaurant</p>
                            <h1 class="display-1 fw-bolder text-capitalize  ">Quai Antique</h1>
                        </div>
                    </div>
                    <div class="carousel-item c-item">
                        <img src="{{ asset('assets/media/test.jpg') }}" class="d-block w-100 c-img" alt="Slide 2">
                        <div class="carousel-caption top-0 mt-4">
                            <p class="mt-5 fs-3 text-uppercase ">La saveur des saisons.</p>
                            <h1 class="display-1 fw-bolder text-capitalize">d</p>
                        </div>
                    </div>
                    <div class="carousel-item c-item">
                        <img src="{{ asset('assets/media/test.jpg') }}" class="d-block w-100 c-img" alt="Slide 3">
                        <div class="carousel-caption top-0 mt-4">
                            <p class="mt-5 fs-3 text-uppercase ">Convivial, familial et chaleureux</p>
                            <h1 class="display-1 fw-bolder text-capitalize  ">Restaurant</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    {% endif %}
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing {% if block ('carousel') is not defined %}mt-5{% endif %}">

            {% block content %}

            {% endblock %}



        </div><!-- /.container -->

        <!-- FOOTER -->
        <footer class="footer-custom">
            <p>&copy;2022 Quai Antique.<br>
                <small>Le restaurant 100% gastronomique.<br>
                    <a href="#">Privacy</a> &middot; <a href="#">Terms</a></small>
            </p>
        </footer>
    </main>
        {% block javascripts %}
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}" type="text/javascript" />
        {% endblock %}
    </body>
</html>
