{% extends 'base.html.twig' %}

{% block title %}Menus - Quai Antique{% endblock %}

{% block content %}
    <h1>Menus</h1>

    <div class="row">
        {% for menu in menus %}
            <div class="col-md-4">
                <div class="menu-item text-center">
                    <img src="/uploads/{{ menu.illustration }}" alt="{{ menu.name }}" class="img-fluid">
                    <h5>{{ menu.name }}</h5>
                    <span class="menu-subtitle">{{ menu.subtitle }}</span>
                    <span class="menu-price">{{ menu.price }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
