{% extends 'base.html.twig' %}


{% block title %}{% endblock %}

{% block content %}
    <div class="text-white text-center">
    <h1>Récapitulatif de mes réservations</h1>
    Bienvenue {{ app.user.firstname }} dans votre espace de réservation.<br/>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr>
    {% if bookings is empty %}
    <p>Vous n'avez pas encore effectué de réservations.</p>
        </div>
    {% else %}
    {% for booking in bookings %}
        <div class="border border-white text-center text-white">
            Date de réservation : {{ booking.day|date('d/m/Y') }}<br/>
            Heure de réservation : {{ booking.hour|date('H:i') }}<br/>
            Nombre de personnes : {{ booking.seats }}<br/>
            Allergies : {{ booking.allergy }}
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}
